.lastPrice{
    text-decoration: line-through;
    font-size: 13px;
    font-weight: 600;
    color: gray;
    position: absolute;
    top: -18px;
}


.btn-info{
    position: absolute;
    left: 120px;
    font-size: 20px;
    color: blue;
    font-weight: 400;
    top: -5px;
  
}

.pf-container{
    position: relative
}

.item-disable{
    opacity: 0.5; 
    pointer-events: none;
    cursor: not-allowed
}