

:root {
    --buttons-color : #5b3ef0;
}

body{
    background: #f8f8f8;
}


  

.card-show-container{
    display: flex;
    max-width: 1184px;
    padding: 2rem;
    background: #fff;
    margin: auto !important;
    width: 90%;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1rem;
    border: transparent;
    /* height: 540px; */
}

.image-container{
    display: flex;
    /* max-width: 400px; */

}

.image-container img {
    width: 100%;
    object-fit: cover;
    
}



.data-container{
    border-left: 1px solid rgba(0, 0, 0, .1);
    padding: 15px;
}

.pre-description{
    font-size: 14px;
    text-align: center;
    color: gray
}

.data-container > * {
    margin-bottom: 35px !important;
  }

.separator {
    border: 1px #000 solid !important;
    margin: 0px !important;
   
  }

.product-price{
    font-size: 36px;
    text-align: center;
    font-weight: 700;
}
.product-title{
    font-size: 38px;
    font-weight: 600;
    color: #898986;
    text-align: center;

}
/* 
.compra-detalle{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 20px;
} */

.price-info-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

}

.price-info{
    font-weight: 600;
    text-align: center;
}

.btn-add-product{
    height: 44px;
    background: var(--buttons-color);
    padding: 9px 15px;
    border-radius: 25px !important;
    color: #fff;
    border: solid 1px #69e055;
    font-weight: 600;
 
}

.btn-add-product:hover{
    background-color: #a3d65c;
}