@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


:root {
    --buttons-color : #7cbf1e;
}

body{
    background: #f8f8f8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  

.card-show-container{
    display: flex;
    max-width: 1184px;
    padding: 2rem;
    background: #fff;
    margin: auto;
    width: 90%;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1rem;
    border: transparent;
    height: 540px;
}

.image-container{
    display: flex;
    /* max-width: 400px; */

}

.image-container img {
    width: 100%;
    object-fit: cover;
    
}



.data-container{
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 15px;
}

.data-container > * {
    margin-bottom: 35px !important;
  }

.separator {
    border: 1px #000 solid !important;
    margin: 0px !important;
   
  }

.product-price{
    font-size: 36px;
    font-weight: 500;
}
.product-title{
    font-size: 22px;
    font-weight: 600;

}

.compra-detalle{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-start;
}

.price-info-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;

}

.price-info{
    font-weight: 600;
}

.btn-add-product{
    background: var(--buttons-color);
    padding: 9px 15px;
    border-radius: 7px !important;
    color: #fff;
    border: solid 1px #69e055;
    font-weight: 600;
    width: 100%;
}

.btn-add-product:hover{
    background-color: #a3d65c;
}