/* .shop-row{
    min-height: 540px;
}

.product-shop{
    background: #fff;
    border-radius: 8px;
} */

:root {
    --blue: #2E43B0;
    --purple: #32257E;
    --gray1: #E5E5E5;
    --gray2: #C6C6C6;
    --gray3: #B6BAC5;
  }
  

  
  .receipt__body {
    border-radius: 12px;
    background-color: #fff;
    position: relative;
    border: 1px solid var(--gray1);
  }
  
  .left {
    display: flex;
    flex-direction: column;
    float: left;
  }
  
  .left__name {
    border-bottom: 1px solid var(--gray1); 
    
  }
  
  .left__name{
    display: flex;
    justify-content: start;
  }
  
  .left__name span:nth-child(1) {
    color: #000;
    font-size: 16px;
    display: inline-block;
    line-height: 45px;

  }
  

  .left__items {
    flex-grow: 1;
    padding-top: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .left__items span {
    color: #47b256;
    text-transform: uppercase;
    padding-left: 2px;
    font-weight: 600;
  }
  
  .tickets {
    display: block;
    padding-top: 8px;
  }
  
  .type {
    color: var(--blue);
    font-size: 20px;
    vertical-align: middle;
    padding-bottom: 7px;
  }
  
  .type:before {
    content: '';
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/59615/ticket-icon.png);
    width: 23px;
    height: 12px;
    background-repeat: no-repeat;
    background-size: 23px 12px;
    display: inline-block;
    margin-right: 15px;
    margin-left: 2px;
  }
  
  .price {
    color: var(--gray3);
    padding-left: 80px;
    font-size: 15px;
    vertical-align: middle;
    font-weight: bold;
  }
  
  .price:before {
    content: '$';
    font-size: 15px;
    font-weight: normal;
    padding-right: 1px;
  }
  
  .left__total {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .left__total span {
    color: gray;
    display: block;
    line-height: 45px;
  }
  
  .left__total span b {
    font-weight: 700;
    color: #000;
  }
 
  
  .left__total span:nth-child(2) {
    margin-top: -10px;
  }
  
  .left__notice { 
    display: flex;
    margin: 10px 0px;
    justify-content: center;
  }
  
  .left__notice span {
   color: gray
  }

  .left__notice span b {
    font-size: 12px;
    color: #000
  }
  
  .right {
    float: left;
  }

  .img-only{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .right__poster {
    margin: 0 auto;
    width: 67%;
    height: 200px;

    border-radius: 8px;

  }
  
  .right__poster#John-Wick-Chapter-2 {
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/59615/pen--john-wick-2.jpg') no-repeat;
    background-size: contain;
  }
  
  .right__title {
    color: var(--blue);
    padding-top: 20px;
    font-size: 20px;
    line-height: 20px;
    display: block;
    text-align: center;
  }
  
  .right__time {
    width: 50%;
    text-align: center;
    display: inline-block;
  }
  
  .right__time span:nth-child(1) {
    color: var(--gray2);
    font-size: 15px;
    text-transform: uppercase;
    display: block;
    padding-top: 20px;
  }
  
  .right__time span:nth-child(2) {
    color: var(--blue);
    font-size: 20px;
    display: block;
  }
  
  .right__cinema {
    width: 50%;

    text-align: center;
    display: inline-block;
  }
  
  .right__cinema span:nth-child(1) {
    color: var(--gray2);
    font-size: 15px;
    text-transform: uppercase;
    display: block;
    padding-top: 25px;
  }
  
  .right__cinema span:nth-child(2) {
    color: var(--blue);
    font-size: 20px;
    display: block;
  }
  