/* Estilos específicos para las páginas de productos */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    /* text-transform: capitalize; */
    transition: .2s linear;
}

:root{
    --max-font:16 ;
    --min-font:24 ;
  

    /* 👉 rangos desde 421px a 1199px */
    /* 👉 utilizar las variables --min-font y --max-font en las fuentes que seran responsivas y la clase "responsive-font" */
   
    /* 👉 --EJEMPLO-- */

/* 👉 h1 {
    --max-font: 50;
    --min-font: 25;
  } */
}


.responsive-font {
    font-size: calc(
      (var(--min-font) * 1px) + 
      (var(--max-font) - var(--min-font)) * 
      ((100vw - 420px) / (1200 - 420))
    );
  }




/* ELEVA SUTILMENTE EL BOTON O CARD QUE SE LE PASA EL MOUSE */
.hover-effect {
    transition: 0.2s ease-in;
  }
  
  .hover-effect:hover {
    transform: translateY(-10px);
    box-shadow: 0px 45px 60px 0px rgba(0, 0, 0, 0.087);
  }
/* ------------------------------------------------------------- */

.onSaleTitle{
    color: #141414;
    --max-font:30 ;
    --min-font:24 ; 
    font-weight: 700;
    top: 74%;
    width: 89%;
    text-transform: uppercase;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay-announcement{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
    transition: opacity 0.3s ease;
    border-radius: 8px;
}

.text-announcement{
    
    color: #ffff;
    --max-font:40 ;
    --min-font:24 ; 
    font-weight: 700;
    top: 50%;
    width: 100%;
    text-transform: uppercase;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  
}

.text-overlay{
    position: absolute;  
    opacity: 1;
    transition: opacity 0.3s ease;
}

.text-announcement-p{
   
    color: #ffff;
    font-size: 13px;
    top: 78%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}

.container {

    /* padding:15px 9%; */
    padding-bottom: 100px;
}

.container .heading {
    text-align: center;
    padding-bottom: 15px;
    color: #fff;
    text-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    font-size: 50px;
}

.container .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
}

.class-container-home{
    max-width: 1300px;
}


.star-product {
    position: relative;
    height: 140px;
    border-radius: 8px;

}



.icons-container{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.icon-class{
    font-size: 40px
}

.filter-img {
    height: 400px;
    width: 100%;
}

/* .start{

} */

.filter-one {
    height: 100%;
    padding: 0 0 0 10px;
    height: 400px;
    
}

.filter-two {
    height: 100%;
    padding: 0 10px 0 0;
    height: 400px;
    background:#fff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}


.filter-one img,
.star-product img {
    object-fit: cover;
    border-radius: 8px;

}



.filter-one img,
.star-product img{
    height: 100%;
    width: 100%;
}



.imgLinks{
    width: 100%;
    height: 100% 
}

.swipper-products-title{
    font-size: 22px;
    margin-left: 10px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in {
    opacity: 0;
    animation: fadeIn 1s ease forwards;
    animation-delay: 0.5s;
    /* Retraso antes de comenzar la animación */
}

@media (max-width:767px) {

    .filter-one,
    .filter-two {
        padding: 0px;
    }


    .container {
        padding: 20px;
    }
}