/* Estilos específicos para las páginas de productos */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

.container {

    /* padding:15px 9%; */
    padding-bottom: 100px;
}

.container .heading {
    text-align: center;
    padding-bottom: 15px;
    color: #fff;
    text-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    font-size: 50px;
}

.container .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
}


.star-product {
    height: 400px;
}

.filter-img {
    height: 400px;
    width: 100%;
}

.start{

}

.filter-one {
    height: 100%;
    padding: 0 0 0 10px;
    height: 450px;
    
}

.filter-two {
    height: 100%;
    padding: 0 10px 0 0;
    height: 450px;
    background:#fff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}


.filter-one img,
.filter-two img,
.star-product img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 8px;

}

.swipper-products-title{
    font-size: 22px;
    margin-left: 10px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in {
    opacity: 0;
    animation: fadeIn 1s ease forwards;
    animation-delay: 0.5s;
    /* Retraso antes de comenzar la animación */
}

@media (max-width:767px) {

    .filter-one,
    .filter-two {
        padding: 0px;
    }


    .container {
        padding: 20px;
    }
}